*{
    background-color: burlywood;
}
.article-1 h1{
    font-size: 50px;
    margin-left: 10em;
}
.article{
    margin-left: 35%;
}

.add-article{
    margin-left: 35%;
}
hr{
    width: 300px;
    height: 2px;
    background-color: black;
    margin-left: 0;
}
button{
    background-color: cadetblue;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
    border: none;
    transition: .5s all ease;
}

button:hover{
    background-color: transparent;
}